@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.custom-gradient {
    background: linear-gradient(to right, #6100FF 0%, #3180E8 50%, #00FFD1 100%);
}

.choose-gradient {
    background: linear-gradient(to right, #FF2DF7 0%, #5200FF 100%, #00F0FF 100%);
}
.choose-text-gradient {
    background: linear-gradient(to right, #6100FF 0%, #01F0FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}