@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.custom-gradient {
    background: linear-gradient(to right, #6100FF 0%, #3180E8 50%, #00FFD1 100%);
}